<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>メモアプリ</title>
</head>
<body>
    <h1>メモアプリ</h1>
    <form method="POST" action="/">
    <input type="hidden" name="_method" value="PATCH">
        <input type="hidden" name="memo_id" value=<%=@memo["memo_id"]%>>
        <input type="text" name="memo_title" value=<%=@memo["memo_title"]%>>
        <textarea name="memo_content"  cols="50" rows="10"><%=@memo["memo_content"]%></textarea>
        <button type="submit">送信</button>
    </form>
</body>
</html>

<%=@memo["memo_content"]%>

IDを頼りにデータを引っ張ってくる

初期値をデータから引っ張ってきたものを与える

編集してから保存する

app.rbで更新されたデータを保存する

PATCH？