<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>メモアプリ</title>
</head>
<body>
    <h1>メモアプリ</h1>
</body>
</html>

IDを頼りにデータを引っ張ってくる

初期値をデータから引っ張ってきたものを与える

編集してから保存する

app.rbで更新されたデータを保存する

PATCH？