<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>メモアプリ</title>
</head>
<body>
    <h1>メモアプリ</h1>
    <ul>
    <% @memos.each do |memo| %>
        <li><a href="/show/<%=memo["memo_id"]%>">
            <%= memo["memo_title"] %>
        </a></li>
    <% end %>
    </ul>
    <a href="/new">追加</a>
</body>
</html>
