<!DOCTYPE html>
<html lang="ja">
<head>
    <mata charset="utf-8">
    <title>メモアプリ</title>
</head>
<body>
    <h1>メモアプリ</h1>
    <ul>
    <% (0..@comments_number).each do |n| %>
        <li><%= @comments[n]["comment_title"] %></li>
    <% end %>
    </ul>
</body>
</html>
