<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>メモアプリ</title>
</head>
<body>
    <h1>メモアプリ</h1>
    <ul>
    <% @memos.each do |memo| %>
    <a href="/show/<%=memo["memo_id"]%>">
        <li><%= memo["memo_title"] %></li>
    </a>
    <% end %>
    </ul>
</body>
</html>
