<h2><%= @memo["memo_title"] %></h2>

<%# 改行を表示できるようにした↓ %>
<div class="memo-content">
  <%= @memo["memo_content"].gsub(/\n/, '<br/>') %>
</div>

<a href="/memos/<%= @memo['memo_id'] %>/edit">
  <button>編集</button>
</a>

<form class="button" method="POST" action="/memos/<%= @memo['memo_id'] %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="削除">
</form>
